onlyBuiltDependencies[]=better-sqlite3
onlyBuiltDependencies[]=electron
onlyBuiltDependencies[]=esbuild
onlyBuiltDependencies[]=@ffmpeg-installer/darwin-arm64
onlyBuiltDependencies[]=@ffmpeg-installer/linux-x64
onlyBuiltDependencies[]=@ffmpeg-installer/win32-x64
onlyBuiltDependencies[]=@ffprobe-installer/darwin-arm64
onlyBuiltDependencies[]=@ffprobe-installer/linux-x64
onlyBuiltDependencies[]=@ffprobe-installer/win32-x64
onlyBuiltDependencies[]=electron-winstaller
registry=https://registry.npmmirror.com
